.round {
    position:relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
      transform: perspective(1000px) rotateY(0deg)
    }
    100% {
        transform: perspective(1000px) rotateY(360deg)
    }
  }

.round span {
    position:absolute;
    top:0;
    left:0;
    width: 200px;
    height: 200px;
    transform-style: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
   
}

.round span img {
    position:absolute;
    top:0;
    left:0;
    width: 200px;
    height: 200px;
   object-fit: cover;
}
  
  .items {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 2px solid #333;
  }
  
  .items img {
    height: 100%;
    width: 100%;
    transition: all 3s ease;
  }